@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-success">Welcome</h1>

    <h3 class="text-info">Noor-e-Bilal</h3>
    <h5 class="text-secondary">18101001-255</h5>
</div>
 